@using Microsoft.AspNetCore.Http
@using IfsParticipe.Libraries
@inject IHttpContextAccessor HttpContextAccessor

@{

    LoginUsuario _loginUsuario = (LoginUsuario)HttpContextAccessor.HttpContext.RequestServices.GetService(typeof(LoginUsuario));
    Usuario usuario = _loginUsuario.GetUsuario();

}

@model List<PDI>
@{
    ViewData["Title"] = "Index";
    var msgValidS = TempData["MSG_S"];
    var msgValidE = TempData["MSG_E"];
}





<main role="main">

    <section class="container" id="order" style="margin-top: 50px">
        @if (msgValidS != null)
        {
            <p id="msgsucesso" class="alert alert-success">@Html.Raw(msgValidS)</p>
        }

        @if (msgValidE != null)
        {
            <p id="msgerro" class="alert alert-danger">@Html.Raw(msgValidE)</p>
        }


        <h2 class="title-doc">Plano de Desenvolvimento Institucional - PDI </h2>


        <h4 class="subtitle-doc">

            @if (usuario.Tipo == 'C') {
            <input type="button" value="Novo PDI" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='@Url.Action("CadastroPDI", "Pdi")'" />
            }

        </h4>
        <div id="code_cart">



            <div class="card">

                <table class="table-responsive-sm table-hover shopping-cart-wrap">

                    <tbody>
                        @foreach (var itemPdi in Model)
                        {
                            <tr>
                                <td style="width:10%"></td>
                                <td class="text-left" style="padding-bottom: 1em;width:80%;vertical-align:middle">

                                    @*<a href='@Url.Action("AlterarPDI", "Pdi")' class="question-hyperlink" style="color:#007bff">PDI IFS 2020-2024</a>*@

                                    <dl class="dlist-inline " style="margin-top:7px">
                                        <dd>
                                            <h2>
                                                PDI IFS @(String.Format("{0} {1} {2}", itemPdi.DataIniVig == null ? "-" : itemPdi.DataIniVig.Value.ToString("yyyy"), " - ", itemPdi.DataFimVig == null ? " a " : itemPdi.DataFimVig.Value.ToString("yyyy")))
                                            </h2>
                                        </dd>
                                    </dl>


                                    <dl class="dlist-inline small">
                                        <dt>Vigência: </dt>
                                        <dd>
                                            @(String.Format("{0} {1} {2}", itemPdi.DataIniVig == null ? "-" : itemPdi.DataIniVig.Value.ToString("dd/MM/yyyy"), " - ", itemPdi.DataFimVig == null ? "-" : itemPdi.DataFimVig.Value.ToString("dd/MM/yyyy")))
                                        </dd>
                                    </dl>

                                    <dl class="dlist-inline small">
                                        <dt>Situação: </dt>
                                        <dd>@(itemPdi.SituacaoList.Where(p => p.Value == itemPdi.Situacao.ToString()).First().Text) </dd>
                                    </dl>

                                    <dl class="dlist-inline small">
                                        <dt>Período Rec. Demandas:</dt>
                                        <dd>

                                            @(String.Format("{0} {1} {2}", itemPdi.DataIniRecDem == null ? "-" : itemPdi.DataIniRecDem.Value.ToString("dd/MM/yyyy"), itemPdi.DataIniRecDem == null && itemPdi.DataFimRecDem == null ? "-" : " a ", itemPdi.DataFimRecDem == null ? "-" : itemPdi.DataFimRecDem.Value.ToString("dd/MM/yyyy")))

                                        </dd>
                                    </dl>

                                    <dl class="dlist-inline small">
                                        <dt>Ult. Atualização:</dt>
                                        <dd>
                                            @(itemPdi.DataAtualizacao.ToString("dd/MM/yyyy HH:mm:ss"))
                                        </dd>
                                    </dl>

                                </td>

                                <td class="text-center" style="padding-bottom: 1em;width:20%;vertical-align:middle">
                                    @if (usuario.Tipo == 'C')
                                    {
                                        <dl class="dlist-inline small">
                                            <dd>
                                                <a title="Alterar" href='@Url.Action("AlterarPDI", "Pdi", new { id = itemPdi.Id })' class="btn btn-outline-success" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                                            </dd>

                                            <dd>
                                                <a title="Remover" href='@Url.Action("RemoverPDI", "Pdi", new { id = itemPdi.Id })' class="btn btn-outline-danger" data-toggle="tooltip"><i class="fa fa-eraser"></i></a>
                                            </dd>
                                        </dl>
                                    }

                                    </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- card.// -->
        </div> <!-- code-wrap.// -->
    </section>
    <br />
    <br />
    <hr class="featurette-divider">





</main>

