
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}



<main role="main">


    <section class="container" id="order" style="margin-top: 50px">

        <h2 class="title-doc">Demandas da Comunidade </h2>


        <h4 class="subtitle-doc">

            <input type="button" value="Nova Demanda" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='@Url.Action("NovaDemanda", "Demanda")'" />

        </h4>
        <div id="code_cart">
            <div class="card">
                <table class="table-responsive-sm table-hover shopping-cart-wrap">

                    <tbody>

                        <tr>
                            <td class="text-center" style="padding-bottom: 1em;width:17%;vertical-align:bottom">

                                <div class="js-voting-container grid jc-center fd-column ai-stretch gs4 fc-black-200" data-post-id="40333689">

                                    <a href='@Url.Action("DetalharDemanda", "Demanda")' class="question-hyperlink" style="font-size:1.61538462rem !important;color:#007bff">0</a>
                                    <dl class="dlist-inline small">
                                        <dt>Votos </dt>
                                    </dl>

                                </div>

                            </td>
                            <td class="text-left" style="padding-bottom: 1em">
                                <a href='@Url.Action("DetalharDemanda", "Demanda")' class="question-hyperlink" style="color:#007bff">DISPONIBILIZAR DEMANDAS DO PDI DE FORMA ACESSIVEL E TRANSPARENTE</a>
                                <dl class="dlist-inline small">
                                    <dt>Tipo Demanda: </dt>
                                    <dd>Infraestrutura</dd>
                                </dl>
                                <dl class="dlist-inline small">
                                    <dt>Ultima Atualização: </dt>
                                    <dd>01/03/2020</dd>
                                </dl>

                            </td>
                        </tr>

                        <tr>
                            <td class="text-center" style="padding-bottom: 1em;width:17%;vertical-align:bottom">

                                <div class="js-voting-container grid jc-center fd-column ai-stretch gs4 fc-black-200" data-post-id="40333689">

                                    <a href='@Url.Action("DetalharDemanda", "Demanda")' class="question-hyperlink" style="font-size:1.61538462rem !important;color:#007bff">0</a>
                                    <dl class="dlist-inline small">
                                        <dt>Votos </dt>
                                    </dl>

                                </div>

                            </td>
                            <td class="text-left" style="padding-bottom: 1em">
                                <a href='@Url.Action("DetalharDemanda", "Demanda")' class="question-hyperlink" style="color:#007bff">DISPONIBILIZAR DEMANDAS DO PDI DE FORMA ACESSIVEL E TRANSPARENTE</a>
                                <dl class="dlist-inline small">
                                    <dt>Tipo Demanda: </dt>
                                    <dd>Infraestrutura</dd>
                                </dl>
                                <dl class="dlist-inline small">
                                    <dt>Ultima Atualização: </dt>
                                    <dd>01/03/2020</dd>
                                </dl>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- card.// -->
        </div> <!-- code-wrap.// -->
    </section>
    <br />
    <br />
    <hr class="featurette-divider">





</main>

